<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pokedex</title>
    <meta name="description" content="Pokedex example">
    <meta name="author" content="Kevin Maze">
    <link rel="stylesheet" type="text/css" href="public/styles.css">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <!-- <link href="stylesheets/style.css" rel="stylesheet"> -->

  </head>
  <body>
    <h1> Pokedex </h1>
    <%- body %>

    <div class="button-container"></div>

    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>    
    <script src="public/script.js" type="text/babel"></script>    
  </body>
</html>